{% extends 'layout.html' %}
{% block title %}Editar persona{% endblock %}
{% block content %}
<div class="col-md-6 mx-auto mt-4">
  <div class="card shadow">
    <div class="card-body">
      <h4 class="card-title mb-4">✏️ Editar persona</h4>
      <form method="POST" action="{{ url_for('update', id=persona[0]) }}">
        <div class="mb-3">
          <label>Nombre</label>
          <input type="text" name="nombre" class="form-control" value="{{ persona[1] }}" required>
        </div>
        <div class="mb-3">
          <label>Edad</label>
          <input type="number" name="edad" class="form-control" value="{{ persona[2] }}" required>
        </div>
        <button class="btn btn-success w-100">Guardar cambios</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
